# By default, ignore everything except this .gitignore
/**
!/.gitignore
# Bare repo
/.cfg
# README.md
!/README.md
# githooks
!/.cfg_scripts/
!/.cfg_scripts/**
# VSCode - extensions
!/.cfg_vscode_extensions
# VSCode - MacOS
# !/Library/
# /Library/**
# !/Library/Application Support/
# /Library/Application Support/**
# !/Library/Application Support/Code/
# /Library/Application Support/Code/**
# !/Library/Application Support/Code/User/
# /Library/Application Support/Code/User/**
# !/Library/Application Support/Code/User/settings.json
# VSCode - Linux
!/.config/
/.config/**
!/.config/Code/
/.config/Code/**
!/.config/Code/User/
/.config/Code/User/**
!/.config/Code/User/settings.json
# bash
!/.bash_profile
!/.bash_login
!/.bash_logout
!/.profile
!/.bashrc
!/.bash_prompt
# zsh
!/.zshenv
!/.zprofile
!/.zshrc
!/.zlogin
!/.zlogout
# vim
!/.vimrc
# README
!/.README.md
